
<div class="container">

  <div class="row justify-content-center">
    <!-- /.card -->
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-title col">Assessments</h3>
          <button type="button" class="col-3 btn  btn-sm  btn-primary" (click)="createAssessment()">Add Assessment</button>
          <!-- <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div> -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <ng-container *ngIf="assessments">
            <ng-container *ngIf="assessments.length > 0 else emptyAssessments">
              <table class="table">
                <thead>
                  <tr>
                    <th>Assesment Id</th>
                    <th>Questions Answered</th>
                    <th>Total Questions</th>
                    <th>Progress</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of assessments">
                    <td>{{item.id}}</td>
                    <td>{{item.questionsAnswered}}</td>
                    <td>{{item.totalNumberOfQuestions}}</td>
                  
                    <td> 
                      <mat-slide-toggle
                      class="example-margin"
                      color="my-accent"
                      [checked]="item.isCompleted"
                      [disabled]="true">
                        Completed
                      </mat-slide-toggle>
                    </td>
                    <td>
                      <a [routerLink]="['/assessment', item.id]">
                        <button  type="button" class="btn  btn-sm  btn-primary"> 
                          Take Assessment
                        </button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
           
          </ng-container>
       
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.card -->
    </div>
</div>

<ng-template #emptyAssessments>
  <div class="callout callout-info">
    <h5>No Assessments available </h5>

    <p>Add assessment to continue.</p>
  </div>
</ng-template>